<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="food-category">
    <a href="/foods/vegetables" class="food-category__category">
        <div class="food-category__icon category__icon--tomato">
        </div>
        <p class="small-text">
            Зеленчуци
        </p>
    </a>

    <a href="/foods/meat" class="food-category__category">
        <div class="food-category__icon category__icon--meat">
        </div>
        <p class="small-text">
            Животински
        </p>
    </a>
    <a href="/foods/sweets" class="food-category__category">
        <div class="food-category__icon category__icon--sweet">
        </div>
        <p class="small-text">
            Сладки
        </p>
    </a>
    <a href="/foods/drinks" class="food-category__category">
        <div class="food-category__icon category__icon--drink">
        </div>
        <p class="small-text">
            Напитки
        </p>
    </a>
    <a href="/foods/fruits" class="food-category__category">
        <div class="food-category__icon category__icon--fruit">
        </div>
        <p class="small-text">
            Плодове
        </p>
    </a>
    <a href="/foods/fishes" class="food-category__category">
        <div class="food-category__icon category__icon--fish">
        </div>
        <p class="small-text">
            Риба
        </p>
    </a>
    <a href="/foods/pasta" class="food-category__category">
        <div class="food-category__icon category__icon--pasta">
        </div>
        <p class="small-text">
            Тестени
        </p>
    </a>
    <a href="/foods/dairy" class="food-category__category">
        <div class="food-category__icon category__icon--dairy">
        </div>
        <p class="small-text">
            Млечни
        </p>
    </a>
</div>