<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block>
    <div class="wrapper">
        <ul class="footer__grid">
            <li>
                <a href="/" class="footer__logo">
                    <img height="20" width="141" src="/images/logo-footer.png" alt="Logo footer" />
                </a>
            </li>
            <li>
                <ul>
                    <li class="footer__cat footer__nav">
                        sweetcalorie
                    </li>
                    <li class="footer__nav">
                        <a href="/about">
                            За нас
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/users/login">
                            Вход
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/users/register">
                            Регистрация
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/">
                            Начало
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="footer__cat footer__nav">
                        Услуги
                    </li>
                    <li class="footer__nav">
                        <a href="/calculators">
                            Калкулатори
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/foods">
                            Храни
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/recipes">
                            Рецепти
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li class="footer__cat footer__nav">
                        Връзки с нас
                    </li>
                    <li class="footer__nav">
                        <a href="/about">
                            За нас
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/contacts">
                            Контакти
                        </a>
                    </li>
                    <li class="footer__nav">
                        <a href="/sitemap">
                            Карта на сайта
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <div class="footer__copy">
            <p class="small-text">Copyright © 2020 Sweetcalories. All rights reserved. </p>
            <a href="/sitemap">Карта на сайта</a>

            <th:block th:include="~{fragments/socialIcons}"></th:block>
        </div>
    </div>

</th:block>