<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рецепти</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>

<th:block th:include="~{fragments/background}"></th:block>

<div class="section">
<div class="wrapper">
<div class="container-fluid">
    <h2 class="category_heading">Рецепти<span class="paint-pen">
        </span></h2>
    <div class="food-images">
        <div class="food-images__image" th:each= "recipe : ${recipeServiceModelList}" th:object="${recipe}">
            <a th:href="@{/recipes/details/(id = *{id})}">
                <div class="card-img-top-wrapper">
                    <img class="food_icon" th:src="*{imageUrl}" alt="image">
                </div>
                <div class="card-body pb-1">
                    <h5 class="card-title text-center" th:text="*{title}"></h5>
                </div>

            </a>
        </div>
    </div>
</div>
</div>
    <button onclick="window.history.back()" type="submit" class="button-big">Назад</button>
    <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
        <a href="/recipes/add" class="button-big">
            Добави нова
        </a>
    </th:if>
</div>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
