<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BMI калкулатор</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body data-ng-controller="bmiController">
<div class="container">

    <header class="nav-container" id="navbar">
        <th:block th:include="~{fragments/nav}"></th:block>
    </header>

    <th:block th:include="~{fragments/background}"></th:block>

    <div class="login-register-conteiner">
        <main class="login-register">
            <div class="col-md-12">
                <h1 class=""><span class="">BMI Калкулатор</span></h1>


                <form th:object="${bmiCalculatorServiceModel}"
                      th:action="@{/calculators/BMI}" method="GET">
                    <div class="login-form offset-lg-3 col-lg-6">
                        <div class="form-group">
                            <label for="weight">Тегло (kg):</label>
                            <input type="number" class="form-control"
                                   placeholder="Тегло в kg" id="weight"
                                   name="weight" required>
                        </div>
                        <small th:each="e : ${#fields.errors('weight')}" th:text="${e}" class="text-danger"></small>

                        <div class="form-group">
                            <label for="height">Височина (cm):</label>
                            <input type="number" class="form-control"
                                   placeholder="Височина в cm" id="height"
                                   name="weight" required>
                        </div>
                        <small th:each="e : ${#fields.errors('weight')}" th:text="${e}" class="text-danger"></small>

                        <button type="submit">Изчисли</button>
                        <button onclick="window.history.back()" type="submit">Назад</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <script>
        let foodList = document.getElementsByClassName(food)
    </script>

    <footer class="footer">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</div>
</div>


<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>

class BMI{
constructor(weight,height){

}
}