<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Калкулатори</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>

<th:block th:include="~{fragments/background}"></th:block>

<th:block th:include="~{fragments/calcultorsFragment}"></th:block>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>