<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Хранителни Стойности</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>

<th:block th:include="~{fragments/background}"></th:block>

<div class="section recepe-grid" th:object="${food}">

    <div>
        <div class=" recepe-grid__image">
            <img class="soft-shadow" th:src="*{image}" alt="Food image">
        </div>
        <button onclick="window.history.back()" type="submit" class="button-big">Назад</button>
        <a href="#" class="button-big">
            Добави в любими
        </a>


    </div>

    <div>
        <div style="position: relative">
            <h1 class="category_heading" th:text="*{name}">
            </h1>
            <span class="paint-pen">
        </span>
        </div>

        <h3>
            хранително съдържание
        </h3>
        <div class="recepe-nutri">
            <div class="recepe-nutri__box">
                <a class="recepe-nutri__type">calories</a>
                <hr>
                <a class="recepe-nutri__count" th:text="|*{calories} кал|">390kcal</a>
            </div>
            <div class="recepe-nutri__box">
                <a class="recepe-nutri__type">Fat</a>
                <hr>
                <a class="recepe-nutri__count" th:text="|*{fats} гр.|">9g</a>
            </div>
            <div class="recepe-nutri__box">
                <a class="recepe-nutri__type">Carbohydrates</a>
                <hr>
                <a class="recepe-nutri__count" th:text="|*{carbohydrates} гр.|">36g</a>
            </div>
            <div class="recepe-nutri__box">
                <a class="recepe-nutri__type">Sugars</a>
                <hr>
                <a class="recepe-nutri__count" th:text="|*{sugars} гр.|">36g</a>
            </div>
            <div class="recepe-nutri__box">
                <a class="recepe-nutri__type">Protein</a>
                <hr>
                <a class="recepe-nutri__count" th:text="|*{proteins} гр.|">12g</a>
            </div>

        </div>

        <th:block th:include="~{fragments/socialIcons}"></th:block>

        <div class="delete_btn">
        <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
            <a th:href="@{/foods/edit/{id}(id = *{id})}" class="button-big">
                Редактирай
            </a>
        </th:if>
        <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
            <a th:href="@{/foods/delete/{id}(id = *{id})}" class="button-big " >
                Изтрий
            </a>
        </th:if>
        </div>
    </div>
</div>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</div>
</div>
</div>


<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>