<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sweet calorie</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>

<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<div class="hero-sec-container">

    <div class='mouse-wrapper'>
        <div class="mouse-icon"></div>
        <div class="mouse-arrow"></div>
    </div>

    <div class="wrapper">
        <div class="hero-sec-grid">
            <div class="hero-sec-grid__info">
                <h1>
                    По-добър план
                    <span class="hero-sec-grid__info--pen">
            </span>
                    <b>по малко стрес.</b>
                </h1>
                <p class="medium-text">
                    За да ти помогнем за постигането на желанот от теб тегло
                    сме събрали всичко, което ти е необходимо на едно място.Можеш лесно
                    да следиш своя прогрес или да си харесаш някоя от здравословните ни рецепти.
                </p>
                <div class="hero-sec-grid__info--link-container">
                    <a href="/users/details/profile" class="button-big button-big--red">
                        Профил
                    </a>
                    <a th:href="@{/users/logout}" class="button-big">
                        Изход
                    </a>
                </div>

                <th:block th:include="~{fragments/socialIcons}"></th:block>

            </div>
            <div class="hero-sec-grid__image">
                <img height="22" width="22" src="../images/hero-imagetLog.png" alt="Sweetcalories yoga"/>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/background}"></th:block>

<div class="wrapper">

    <th:block th:include="~{fragments/calcultorsFragment}"></th:block>

    <div class="section">

        <h2 class="category_heading">
            Рецепти
            <span class="paint-pen">
      </span>
        </h2>
        <div class="recipe__grid">
            <div class="recipe__info">
                <h4 class="info-heading bold">
                    Лесни и здравословни рецепти
                </h4>
                <p class="normal-text">
                    Не не необходимо да прекарваш цял ден в пазруване и готвене, за да хапваш вкусна и домашно
                    приготвена храна.
                    Нашите предложения са лесни за приготвяне, вкусни и здравословни.
                </p>
                <a href="/recipes" class="button-big">
                    Към рецептите
                </a>

                <th:block th:include="~{fragments/socialIcons}"></th:block>

            </div>
            <div class="recipe__img">
                <img class="soft-shadow" src="../images/pizza.jpg" alt="Food image"/>
            </div>
        </div>
    </div>

    <div class="section foods">
        <h2 class="category_heading">
            Храни
            <span class="paint-pen">
      </span>
        </h2>
        <div class="recipe__grid">
            <div class="recipe__img">
                <img src="../images/foods-img.png" alt="Tomatoes"/>
            </div>
            <div class="recipe__info">
                <h4 class="info-heading bold">
                    Състав на храните
                </h4>
                <p class="normal-text">
                    Добре дошли в Sweetcalories, в нашета база данни за храни,
                    можете да откриете калорийното съдържание и други факти за храните, които консумирате.
                    Разберете как тялото ви получава енергия и кои храни можете да похапвате по- често и в по- големи
                    количества и
                    кои храни трябва да ограничите.
                </p>
                <th:block th:include="~{fragments/foodsCategory}"></th:block>

                <a href="/foods" class="button-big">
                    Виж всички храни
                </a>
            </div>
        </div>
    </div>

</div>
<div class="banner">
    <div class="wrapper">
        <div class="banner__section">
            <h3 class="noselect">
                Никога не е късно да започнеш да се грижиш за себе си!
            </h3>
            <div class="banner__img">
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
