<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sweet calorie</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>

<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<div class="hero-sec-container">

    <div class='mouse-wrapper'>
        <div class="mouse-icon"></div>
        <div class="mouse-arrow"></div>
    </div>

    <div class="wrapper">
        <div class="hero-sec-grid">
            <div class="hero-sec-grid__info">
                <h1>
                    По-добър план
                    <span class="hero-sec-grid__info--pen">
            </span>
                    <b>по малко стрес.</b>
                </h1>
                <p class="medium-text">
                    За да ти помогнем за постигането на желанот от теб тегло
                    сме събрали всичко, което ти е необходимо на едно място.Можеш лесно
                    да следиш своя прогрес или да си харесаш някоя от здравословните ни рецепти.
                </p>
                <div class="hero-sec-grid__info--link-container">
                    <a href="/users/login" class="button-big button-big--red">
                        Вход
                    </a>
                    <a href="/users/register" class="button-big">
                        Регистрация
                    </a>
                </div>

                <th:block th:include="~{fragments/socialIcons}"></th:block>

            </div>
            <div class="hero-sec-grid__image">
                <img height="22" width="22" src="../images/hero-imaget.png" alt="Sweetcalories yoga"/>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/background}"></th:block>


<div class="wrapper">
    <th:block th:include="~{fragments/calcultorsFragment}"></th:block>


    <div class="section">

        <h2 class="category_heading">
            Рецепти
            <span class="paint-pen">
      </span>
        </h2>
        <div class="recipe__grid">
            <div class="recipe__info">
                <h4 class="info-heading bold">
                    Лесни и здравословни рецепти
                </h4>
                <p class="normal-text">
                    Не не необходимо да прекарваш цял ден в пазруване и готвене, за да хапваш вкусна и домашно
                    приготвена храна.
                    Нашите предложения са лесни за приготвяне, вкусни и здравословни.
                </p>
                <a href="/users/login" class="button-big">
                    Към рецептите
                </a>

                <th:block th:include="~{fragments/socialIcons}"></th:block>

            </div>
            <div class="recipe__img">
                <img class="soft-shadow" src="../images/pizza.jpg" alt="Food image"/>
            </div>
        </div>

    </div>

    <div class="section foods">

        <h2 class="category_heading">
            Храни
            <span class="paint-pen">
      </span>
        </h2>
        <div class="recipe__grid">

            <div class="recipe__img">
                <img src="../images/foods-img.png" alt="Tomatoes"/>
            </div>
            <div class="recipe__info">
                <h4 class="info-heading bold">
                    Състав на храните
                </h4>
                <p class="normal-text">
                    Добре дошли в Sweetcalories, в нашета база данни за храни,
                    можете да откриете калорийното съдържание и други факти за храните, които консумирате.
                    Разберете как тялото ви получава енергия и кои храни можете да похапвате по- често и в по- големи
                    количества и
                    кои храни трябва да ограничите.
                </p>
                <div class="food-category">
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--tomato">
                        </div>
                        <p class="small-text">
                            Зеленчуци
                        </p>
                    </a>

                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--meat">
                        </div>
                        <p class="small-text">
                            Животински
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--sweet">
                        </div>
                        <p class="small-text">
                            Сладки
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--drink">
                        </div>
                        <p class="small-text">
                            Напитки
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--fruit">
                        </div>
                        <p class="small-text">
                            Плодове
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--fish">
                        </div>
                        <p class="small-text">
                            Риба
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--pasta">
                        </div>
                        <p class="small-text">
                            Тестени
                        </p>
                    </a>
                    <a href="/users/login" class="food-category__category">
                        <div class="food-category__icon category__icon--dairy">
                        </div>
                        <p class="small-text">
                            Млечни
                        </p>
                    </a>
                </div>
                <a href="/users/login" class="button-big">
                    Виж всички храни
                </a>
            </div>
        </div>

    </div>

</div>
<div class="banner">
    <div class="wrapper">
        <div class="banner__section">
            <h3 class="noselect">
                Никога не е късно да започнеш да се погрижиш за себе си!
            </h3>
            <a href="/users/register" class="button-big">
                Започни днес
            </a>
            <div class="banner__img">
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>


<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
