<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рецепта</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>

<div style="opacity: 0.15;">
    <th:block th:include="~{fragments/background}"></th:block>
</div>

<div class="wrapper">
    <div class="section recepe-grid" th:object="${recipe}">

        <div>
            <div class=" recepe-grid__image">
                <img class="soft-shadow" th:src="*{image}" alt="Food image">
            </div>
            <button type="submit" class="button-big" onclick="history.back()">Назад</button>
            <a href="#" class="button-big">
                Добави в любими
            </a>
        </div>

        <div>
            <div style="position: relative">
                <h1 class="category_heading" th:text="*{title}">
                </h1>
                <span class="paint-pen">
        </span>
            </div>

            <h3>
                хранително съдържание
            </h3>
            <div class="recepe-nutri">
                <div class="recepe-nutri__box">
                    <a class="recepe-nutri__type">calories</a>
                    <hr>
                    <a class="recepe-nutri__count" th:text="|*{calories} кал|">390kcal</a>
                </div>
                <div class="recepe-nutri__box">
                    <a class="recepe-nutri__type">Fat</a>
                    <hr>
                    <a class="recepe-nutri__count" th:text="|*{fats} гр.|">9g</a>
                </div>
                <div class="recepe-nutri__box">
                    <a class="recepe-nutri__type">Carbohydrates</a>
                    <hr>
                    <a class="recepe-nutri__count" th:text="|*{carbohydrates} гр.|">36g</a>
                </div>
                <div class="recepe-nutri__box">
                    <a class="recepe-nutri__type">Protein</a>
                    <hr>
                    <a class="recepe-nutri__count" th:text="|*{proteins} гр.|">12g</a>
                </div>
            </div>

            <div class="recepe-nutri">
                <div class="recepe-nutri__box">
                    <p class="recepe-nutri__type">Порции
                    </p>
                    <hr>
                    <p class="recepe-nutri__count" th:text="|*{servings} бр.|">4
                    </p></div>
                <div class="recepe-nutri__box">
                    <p class="recepe-nutri__type">Приготвяне
                    </p>
                    <hr>
                    <p class="recepe-nutri__count" th:text="|*{time} мин.|">30мин
                    </p></div>
                <div class="recepe-nutri__box">
                    <p class="recepe-nutri__type">Трудност
                    </p>
                    <hr>
                    <p class="recepe-nutri__count" th:text="|*{difficulty}|">Лесно
                    </p></div>
            </div>

            <th:block th:include="~{fragments/socialIcons}"></th:block>

        </div>


        <div>
            <h2>
                Необходими съставки
            </h2>

            <ul>
                <th:block th:each="ingredient : ${ingredients}" th:object="${ingredients}">
                    <li th:text="|${ingredient.food} - ${ingredient.quantity} ${ingredient.units}|">
                </th:block>

                </li>
            </ul>
        </div>

        <div>
            <h2>
                Начин на приготвяне
            </h2>
            <p class="normal-text" th:text="*{description}">
                Зелката и останалите зеленчуци, без едната чушка, нарежете на ситно. Посолете и омачкайте с ръце.
                Прибавете червен и черен пипер, мазнината и объркайте с птичето месо.
            </p>
            <div>
                <br>
                <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
                    <a th:href="@{/recipes/edit/{id}(id = *{id})}" class="button-big">
                        Редактирай
                    </a>
                </th:if>
                <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
                    <a th:href="@{/recipes/delete/{id}(id = *{id})}" class="button-big">
                        Изтрий
                    </a>
                </th:if>
            </div>
        </div>


        <form id="newComments" th:action="@{/comments/commentRecipe/{id}(id=${recipe.id})}" method="POST">
            <div class="head">
                <h2>Коментари</h2>
            </div>
            <div id="newCommentsForm" data-role="commentMainForm">
                <div >
                    <label for="text">Коментар</label>
                    <textarea id="text" name = "text" placeholder="Добави коментар тук!" rows="1"
                              data-role="textarea" ></textarea>
                    <button class="button-big"> Коментирай</button>
                </div>
            </div>
        </form>

        <th:block th:each="comment, iter : ${comments}">
            <ul class="comment-form">
                <li>
                    <h6 th:utext="${#dates.format(comment.postDateTime, 'dd-MM-yyyy')}"></h6>
                    <a class="post-username"
                       th:href="@{/users/details/{id}(id=${comment.author.id})}"
                       th:text="${comment.author.username}"></a>
                    <h5 th:text="${comment.text}"></h5>
                    <th:if sec:authorize="hasRole('ROLE_MODERATOR')">
                        <a th:href="@{/comments/delete/{id}(id=${comment.id})}" class="button-big">
                            Изтрий коментар
                        </a>
                    </th:if>

                </li>
            </ul>
        </th:block>

    </div>
</div>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>