<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include=" ~{fragments/head}"></th:block>
</head>

<body>


<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<th:block th:include="~{fragments/background}"></th:block>

<main>
    <div class="home-page">
        <h1 class="text-center text-dark">Всички потребители</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead class="table-form">
            <tr class="row mx-auto">
                <th class="col-md-2 text-center"> </th>
                <th class="col-md-2 text-center">Потребител</th>
                <th class="col-md-2 text-center">Емайл</th>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <th class="col-md-2 text-center">Роли</th>
                    <th class="col-md-2 text-center">Смени на</th>
                    <th class="col-md-2 text-center">Изтрий</th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user, iter : ${users}">
                <tr class="row mx-auto">
                    <th class="col-md-2 text-center" th:text="${iter.index + 1}"></th>
                    <td class="col-md-2 text-center">
                        <a th:text="${user.username}" th:href="@{/users/details/{id}(id=${user.id})}">Профил</a>
                    </td>
                    <td class="col-md-2 text-center" th:text="${user.email}"></td>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <td class="col-md-2 text-center"
                            th:text="${#strings.replace(#strings.listJoin(user.authorities, ', '), 'ROLE_', '')}"></td>
                        <td class="col-md-2 text-center">

                            <div class="row d-flex justify-content-center">
                                <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                    <form th:action="@{/users/setModerator/{id}(id=${user.id})}" method="post">
                                        <button class="btn btn-dark btn-width">Модератор</button>
                                    </form>
                                </th:block>
                                <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                    <form th:action="@{/users/setUser/{id}(id=${user.id})}" method="post">
                                        <button class="btn btn-success btn-width">Потребител</button>
                                    </form>
                                </th:block>
                            </div>

                        <td class="col-md-2 text-center">
                            <form id="add-product-form" class="form w-15 mx-auto"
                                  th:action="@{/users/delete/{id}(id=${user.id})}" method="post">
                                <div class="button-holder d-flex justify-content-center">
                                    <button type="submit" class="btn btn-danger">Изтрий потребител</button>
                                </div>
                            </form>
                        </td>
                    </th:block>
                </tr>
            </th:block>


            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
