<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>

<th:block th:include="~{fragments/background}"></th:block>

<div class="login-register-conteiner">
    <main class="login-register">
        <h1 class=""><span class="">Вход</span></h1>
        <hr class="">
        <form class="" th:action="@{/users/login}" method="POST">
            <div class="login-form offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="username">Потребителско име</label>
                    <input type="text" class="form-control" id="username" placeholder="Потребителско име"
                           name="username"
                           required>
                </div>
                <th:block th:if="${param.error}">
                    <div class="text-danger">
                        Грешна парола или потребителско име!
                    </div>
                </th:block>
                <div class="form-group">
                    <label for="password">Парола</label>

                    <input type="password" class="form-control" id="password" placeholder="Парола" name="password"
                           required>
                </div>
                <button type="submit">Влез</button>
                <button onclick="window.history.back()" type="submit">Назад</button>
            </div>
        </form>
    </main>
</div>

<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
