<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include=" ~{fragments/head}"></th:block>
</head>

<body>


<div class="empty"></div>
<header class="nav-container" id="navbar">
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<th:block th:include="~{fragments/background}"></th:block>

<main>
    <div class="wrap-padding wrapper">

        <h1 class="category_heading__style">
            Всички потребители
            <span class="paint-pen">
            </span>
        </h1>

        <table class="users-table">
            <thead class="users-table-form">
            <tr class="users-table-row">
                <th class="users-table-head"> #</th>
                <th class="users-table-head">Потребител</th>
                <th class="users-table-head">Емайл</th>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <th class="users-table-head">Роли</th>
                    <th class="users-table-head">Смени на</th>
                    <th class="users-table-head">Изтрий</th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user, iter : ${users}">
                <tr class="users-table-row">
                    <th class="users-table-head" th:text="${iter.index + 1}"></th>
                    <td class="users-table-data">
                        <a th:text="${user.username}" th:href="@{/users/details/{id}(id=${user.id})}">Профил</a>
                    </td>
                    <td class="users-table-data" th:text="${user.email}"></td>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <td class="users-table-data"
                            th:text="${#strings.replace(#strings.listJoin(user.authorities, ', '), 'ROLE_', '')}"></td>
                        <td class="users-table-data">

                            <div class="">
                                <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                    <form th:action="@{/users/setModerator/{id}(id=${user.id})}" method="post">
                                        <button class="change_authority">Модератор</button>
                                    </form>
                                </th:block>
                                <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                    <form th:action="@{/users/setUser/{id}(id=${user.id})}" method="post">
                                        <button class="change_authority autority_admin">Потребител</button>
                                    </form>
                                </th:block>
                            </div>

                        <td class="col-md-2 text-center">
                        <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                         !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                            <form id="add-product-form" class="form w-15 mx-auto"
                                  th:action="@{/users/delete/{id}(id=${user.id})}" method="post">
                                <div class="button-holder d-flex justify-content-center">
                                    <button type="submit" class="change_authority autority_admin">Изтрий потребител</button>
                                </div>
                            </form>
                        </th:block>
                        </td>
                    </th:block>
                </tr>
            </th:block>


            </tbody>
        </table>

    </div>
</main>
<footer class="footer">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

<th:block th:include="~{fragments/function}"></th:block>

</body>
</html>
